button{
    margin-left:20px;
}
body{
    padding-left:15px;
}
span{
    background-color:lightskyblue;
    padding:4px;
}
a{
    background-color:#e50000;
    padding:5px;
    color:white;
    font-weight:bold;
}