<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility1</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility2">
        <a href="#browser_compatibility2">Browser compatibility2</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility3">
        <a href="#browser_compatibility3">Browser compatibility3</a>
    </h2>      
    <div id="abcd">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.</div>
    <h2 id="browser_compatibility4">
        <a href="#browser_compatibility">Browser compatibility4</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
    <h2 id="browser_compatibility">
        <a href="#browser_compatibility">Browser compatibility</a>
    </h2>      
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et neque saepe maxime fugiat earum quaerat esse eligendi
    similique officiis blanditiis. Sapiente consequuntur ex corrupti numquam, eos corporis ut in molestiae ipsum
    distinctio. Ratione, officiis recusandae unde autem, quos ipsum consequatur illo rerum a culpa quia tenetur tempora
    perferendis corrupti nisi illum provident voluptas, beatae repudiandae ea ex. Vero consectetur, iste et blanditiis
    amet veritatis! Placeat, illo libero minima odit ipsa nostrum? Id quas nisi, iure quaerat officia sed molestias.
    Ipsa, vero rerum! Ipsum at accusantium dolores odit aut, quam totam? Neque dignissimos nobis nemo itaque sequi qui
    perspiciatis? Magni, et.
</body>
<script>
    console.log(_('abcd'));
</script>

</html>